NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_CLOUD_NAME=dxn5gc89b
CLOUDINARY_API_KEY=334979822839527
CLOUDINARY_API_SECRET=cH5YBVHcHXUKrGCaK2pSnn9zw70